= simple_nested_form_for @lab do |f|

  / field :facilities
  / field :languages

  %fieldset
    %legend Fab Lab Details
    = f.input :name, label: 'Fab Lab Name'
    = f.input :kind, collection: Lab::KINDS

  %fieldset
    %legend Address
    = f.fields_for :address do |a|
      = text_field_tag :address_search
      #map_canvas
      .details
        = a.input :building, { input_html: { data: { geo: 'formatted_address' }}}
        = a.input :street, { input_html: { data: { geo: 'street_address' }}}
        = a.input :city, { input_html: { data: { geo: 'locality' }}}
        = a.input :zip, { input_html: { data: { geo: 'postal_code' }}}
        = a.input :country, { input_html: { data: { geo: 'country_short' }}}
        = a.input :latitude, { input_html: { data: { geo: 'lat' }}}
        = a.input :longitude, { input_html: { data: { geo: 'lng' }}}

  %fieldset
    %legend Contacts
    = f.fields_for :contacts do |c|
      %fieldset
        = c.input :name
        = c.input :role
        = c.input :email
        = c.input :phone
        = c.input :fax
        = c.link_to_remove "Remove this contact"
    = f.link_to_add "Add a contact", :contacts, class: 'button tiny secondary'

  %fieldset
    %legend Websites
    = f.fields_for :websites do |w|
      %fieldset
        = w.input :name
        = w.input :url
        = w.link_to_remove "Remove this website"
    = f.link_to_add "Add a website", :websites, class: 'button tiny secondary'

  %fieldset
    %legend More Information
    = f.input :hours, as: :text, label: "Opening Hours"
    = f.input :collaborators, as: :text
    = f.input :comments, as: :text


  = f.button :submit, class: 'large button expand'
