%nav.top-bar.fixed

  %ul.title-area
    %li.name
      %h1#fablabmap
        = link_to "Fab Lab Network", root_path
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        %span

  %section.top-bar-section
    %ul.left
      %li.divider
      %li.has-form
        %form
          .row.collapse
            %input{type: "text", placeholder: "#{t("map.search")}...", id: 'search_filter'}/
      %li.divider
      %li.has-dropdown
        = link_to t("map.all_fab_labs"), "#", id: 'current_kind'
        %ul.dropdown
          %li#allkinds.kind{data: {kind: 'fablab mini planned'}}= link_to t("map.all_fab_labs"), "#"
          %li.divider

          %li.kind{data: {kind: 'fab_lab'},  title: 'Full-sized Fab Labs'}= link_to t("map.fab_labs"), "#"
          %li.kind{data: {kind: 'mini'},  title: 'Smaller labs that offer some of the facilities of a full Fab Lab'}= link_to t("map.mini_fab_labs"), "#"
          %li.kind{data: {kind: 'planned'}, title: 'Labs that will open soon'}= link_to t("map.planned_labs"), "#"
    %ul.right
      %li.divider
      %li.has-form
        = link_to t("map.add_a_lab"), new_lab_path, class: 'button radius'
      %li.has-dropdown
        = link_to $locales[I18n.locale], "#"
        %ul.dropdown
          %li.language= link_to $locales[:en], locale: "en"
          %li.language= link_to $locales[:es], locale: "es"
          %li.language= link_to $locales[:pt], locale: "pt"


#map

%script{id: 'popup-template', type: 'text/x-handlebars-template'}
  :plain
    <h2><a href="/labs/{{_id}}">{{name}}</a></h2>
    {{address.formatted}}

    {{#if hours}}
    <hr/>
    <h5>#{t('map.opening_hours')}</h5>
    {{hours}}
    {{/if}}

    {{#if contacts}}
    <hr/>
    <h4>#{t('map.contacts')}</h4>
    <ul>
    {{#each contacts}}
      <li>
        <span class="line">{{name}} {{#if role}}({{role}}){{/if}}</span>
        <span class="email"><a href="mailto:{{email}}">{{email}}</a></span>
        <span class="phone">{{phone}}</span>
      </li>
    {{/each}}
    </ul>
    {{/if}}

    {{#if websites}}
    <hr/>
    <h4>#{t('map.websites')}</h4>
    <ul>
    {{#each websites}}
      <li>
        <a href="{{url}}">{{url}}</a>
      </li>
    {{/each}}
    </ul>
    {{/if}}

    {{comments}}
