!!!
/[if lt IE 7 ] <html class="ie6" lang="en">
/[if IE 7 ] <html class="ie7" lang="en">
/[if IE 8 ] <html class="ie8" lang="en">
/ [if (gte IE 9)|!(IE)]><!
%html{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %base{target: "_top"}/
    %title= content_for?(:title) ? yield(:title) : "Fab Lab World"
    = stylesheet_link_tag "application"
    = javascript_include_tag "vendor/custom.modernizr", "http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false", "application"
    = csrf_meta_tags
  %body
    = yield
